<%- include('userNavbar') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <% order.items.forEach((product)=> { %>
                        <div class="col-12 mb-3">
                            <div class="page-content">
                                <div class="row g-0">
                                    <div class="col-12 col-md-4 col-xl-2">
                                        <img src="<%= product.data.poster %>" alt="Product Image" class="img-fluid">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Name: <%= product.data.name %>
                                            </h5>
                                            <p class="card-text">Developed By: <%= product.data.description.production
                                                    %>
                                            </p>
                                            <p class="card-text">Age Restriction: <%=
                                                    product.data.description.restriction %>
                                            </p>
                                            <p class="card-text">Release Date: <%= product.data.description.release %>
                                            </p>
                                            <p class="card-text">Price: <%= product.data.price %> /-</p>
                                            <p class="card-text">Quantity: <%= product.quantity %>
                                            </p>
                                            <p class="card-text">Total: <%= product.price %> /-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <div class="col-12">
                                <div class="page-content">
                                    <div class="row g-0">
                                        <div class="col-12 col-md-4">
                                            <img src="/img/End Game.jpg" alt="Product Image"
                                                class="img-fluid rounded-circle">
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Order Id: <%= order._id %>
                                                </h5>
                                                <p class="card-text">User Name: <%= user.name %>
                                                </p>
                                                <p class="card-text">Total Products: <%= order.items.length %>
                                                </p>
                                                <p class="card-text">Coupon Used: <%= (coupons !=null) ? coupons.name
                                                        : 'No coupon used' %>
                                                </p>
                                                <p class="card-text">Total Price: <%= order.total %>
                                                </p>
                                                <p class="card-text">Order Status: <%= order.status %>
                                                </p>
                                                <p class="card-text">
                                                    <% if (order.paymentId===null) { %>
                                                        Payment Status: Pending
                                                        <% } else if (order.status==='Cancelled' ) { %>
                                                            Payment Status: Order Cancelled and Refund Done
                                                            <% } else { %>
                                                                Payment Reference: <%= order.paymentId %>
                                                                    <% } %>
                                                </p>
                                                <% if (order.status==='Pending' ) { %>
                                                    <div id="btnDiv" style="display: block;">
                                                        <button class="btn btn-danger p-2 px-5 border-0 rounded-10"
                                                            onclick="orderCancel()">Cancel Order</button>
                                                    </div>
                                                    <div id="reason" style="display: none;">
                                                        <input type="text" name="reason" id="reasonBox"
                                                            placeholder="Please enter the reason for canceling the order">
                                                        <button class="btn btn-danger p-2 px-5 border-0 rounded-10"
                                                            onclick="Cancel('<%= order._id %>')">Submit</button>
                                                        <button class="btn btn-danger p-2 px-5 border-0 rounded-10"
                                                            onclick="cancelReason()">Cancel</button>
                                                    </div>
                                                    <% } else if (order.status==='Confirmed' ) { %>
                                                        <button
                                                            class="btn btn-success p-2 px-5 border-0 rounded-10 m-auto d-block">
                                                            <a href="/downloadPayment/?id=<%= order._id %>"
                                                                download="purchase.pdf">
                                                                Download Invoice
                                                            </a>
                                                        </button>
                                                        <a download="Torrent.torrent" href="/downloadGame/?id=<%= order._id %>"
                                                            class="btn btn-success p-2 px-5 border-0 rounded-10 mt-2 m-auto d-block"
                                                            >Download
                                                            Game</a>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </center>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2036 All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .text-light {
            line-height: 1%;
        }

        #reasonBox {
            border: 1px solid red;
            padding: 8px;
            border-radius: 10px;
            width: 50%;
            padding-left: 20px;
            color: black;
            background: #fff;
        }

        #reasonBox::placeholder {
            color: red;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('userFooter') %>