<%- include('userNavbar') %>


  <link rel="stylesheet" href="/css/fontawesome.css">
  <!-- ***** Header Area End ***** -->

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="margin-top: 200px; justify-content: center; ">
      <div class="modal-content custom-modal-content"
        style="width: auto; height: 300px; background-image: url('/img/pexels-pixabay-459762.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="modal-body">
          <form action="/editProfile" method="post" onsubmit="return updateVerification()">
            <div class="updateProfile">
              <input type="text" class="updateinput" value="<%= data.name %>" name="name" placeholder="Enter your name"
                id="namebox">
              <input type="text" class="updateinput" name="username" value="<%= data.username %>"
                placeholder="Enter your username" id="usernamebox">
              <button class="updateButton" type="submit">Update</button>
              <p style="color: red; font-size: 15px; margin-top: 30px;" id="errorShow"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <% if (data.image) { %>
                      <img src="<%= data.image %>" style="height: 300px; width: 300;" class="rounded-circle image-fluid"
                        alt="">
                      <% } else { %>
                        <img src="/userProfile/default.png" class="rounded-circle image-fluid" alt="">
                        <% } %>
                          <form action="/profilePic" method="post" enctype="multipart/form-data"
                            onsubmit="cropAndSubmit()">
                            <div class="custom-file-upload">
                              <label for="file-upload" class="file-upload-label rounded-circle image-fluid">
                                <i class="fa fa-plus" style="font-size: 20px;"></i>
                              </label>
                              <input type="file" id="file-upload" name="image" accept="image/*"
                                onchange="toggleButton()">
                              <button type="submit" id="update-button" style="display: none;">Update</button>
                            </div>
                          </form>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <span>
                        <%= data.username %>
                      </span>
                      <h4>
                        <%= Name %>
                      </h4>
                      <p>Email:<%= data.email %>
                      </p>
                      <div class="main-border-button">
                        <a href="#" data-toggle="modal" data-target="#editModal">Edit profile</a>
                        <a href="/password">Change password</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Games Downloaded <span>
                          <%= data.purchase %>
                        </span></li>
                      <li>Wallet Balance <span>
                          <%= data.wallet %> INR
                        </span></li>
                      <li>
                        <center>
                          <div class="main-border-button"><a href='/orders'>Order History</a></div>
                        </center>
                      </li>
                      <center>
                        <div class="main-border-button"><a href='/logout/?id=<%= data._id %>'>Logout</a></div>
                      </center>
                    </ul>
                  </div>
                </div>





                <footer>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <p>Copyright © 2036.All rights reserved.
                      </div>
                    </div>
                  </div>
                </footer>


                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                  crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
                  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                  crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
                  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                  crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
                <script src="/js/owl-carousel.js"></script>
                <script src="/js/tabs.js"></script>
                <script src="/js/popup.js"></script>
                <script src="/js/custom.js"></script>
                <script src="/js/gamesJs.js"></script>


                </body>

                </html>